.analysis { 
    min-height: 80vh;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
}

.totaldisplay {
    height: 68vh; 
    width: 100%;
    overflow: auto;
}


.totaldisplay::-webkit-scrollbar { 
    width: 10px;
    background-color: rgba(24, 23, 23, 0.347);
    border-radius: 10px;
}
.totaldisplay::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.789);
}
.totaldisplay table { 
    width: 100%;
    border-spacing: 0 10px;
}
.totaldisplay .description { 
    width: 70%;
}
.totaldisplay .image { 
    width: 30%;
}


.analysis img { 
    width: 100%;
}

.totaldisplay .description i{ 
    display: block;
    margin-top: 5%;
}

.analysis select { 
    border-radius: 10px;
    height: 40px;
    width: 110px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
}

.analysis h4, .analysis select { 
    margin-top: 5%;
    margin-bottom: 4%;
}

.analysis .matched { 
    color: #1ed760;
    font-weight: bold;
}
.analysis table {
    border-collapse: collapse;
}

.analysis table, .analysis td, .analysis th { 
    border-style: none;
    border-top: none !important;
    color: white;
}