body {
  margin: 0;
  font-family:'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn.btn-primary { 
  font-family: 'Quicksand', sans-serif;
  background-color: #1ED760;
  color: white;
  cursor: pointer;
  height: 50px;
  display: inline-block;
  width: 200px;
  vertical-align: middle;  
  font-size: 20px !important;
  font-weight: bold !important;
  border-style: none; 
  border-radius: 40px !important;
  box-shadow: none !important;
  border-color:white !important;
}

.btn.btn-primary:hover {
  background-color: #11a046c7;
}

.btn.btn-primary:active { 
  background-color: #11a046c7;
}

.btn.btn-primary:focus { 
  background-color: #11a046c7 !important;

}
