.allplaylists { 
    height: 80vh;
    overflow: auto;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    border-top-left-radius: 0px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly
}

.allplaylists::-webkit-scrollbar { 
    width: 10px;
    background-color: rgba(24, 23, 23, 0.347);
    border-radius: 10px;
}
.allplaylists::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.789);
}
.playlist { 
    vertical-align: top;
    padding: 1%;
    margin-top: 8%;

}
.playlist i { 
    display: block;
    color: white;
}

.playlist img { 
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.allplaylists a:hover { 
    text-decoration: none;
    font-weight: bold;
    transform: scale(1.05)
}
