.allplaylists { 
    height: 80vh;
    overflow: auto;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.allplaylists::-webkit-scrollbar { 
    width: 10px;
    background-color: rgba(24, 23, 23, 0.347);
    border-radius: 10px;
}
.allplaylists::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.789);
}
.playlist { 
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    text-align: center;
}
.playlist i { 
    display: block;
    color: white;
}

.playlist img { 
    width: 150px;
    height: 150px;
    object-fit: cover;
}
