.loginContainer { 
    background-color: hsl(0, 0%, 17%);
    text-align: center;
    min-height: 100vh; 
    padding: 3%;
}

.loginContainer img { 
    width: 40%;
    margin-top: 7%;
    margin-bottom: 4%;
}

.loginContainer input { 
    display: inline-block;
    vertical-align: middle;  
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    
}

.loginContainer input:focus { 
    outline-offset: 0 !important;
    outline: none;
}


.loginContainer .namelabel { 
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 200px;
    vertical-align: middle;  
    font-size: 25px;
    margin-right: 6%;

}

.loginContainer .row { 
    margin-bottom: 3%;
}



#join {
    margin-right: 6%;
}
