.loginContainer { 
    background-color: hsl(0, 0%, 17%);
    text-align: center;
    min-height: 100vh; 
    padding: 4%;
}

.loginContainer img { 
    width: 40%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.loginContainer input { 
    display: inline-block;
    vertical-align: middle;  
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    
}

.loginContainer input:focus { 
    outline-offset: 0 !important;
    outline: none;
}


.loginContainer .btn:focus { 
    outline-offset: 0 !important;
    outline: none;
}

.loginContainer .btn:hover {
    border-style:solid;
    border-color: white;
}


.loginContainer .namelabel { 
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 200px;
    vertical-align: middle;  
    font-size: 25px;
    margin-right: 6%;

}

.loginContainer .row { 
    margin-bottom: 3.5%;
}


.loginContainer .btn { 
    margin-right: 6%;
    font-family: 'Quicksand', sans-serif;
    background-color: #1ED760; 
    color: white;
    cursor: pointer;
    height: 50px;
    display: inline-block;
    width: 200px;
    vertical-align: middle;  
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 40px;
}

